
    </div> <!-- container-fluid div -->
    
    <div class='footer'>
      <a href='https://github.com/playeredlc' target="_blank"><i>&lt/&gt</i> edlc</a>, 2021.
    </div>
    <!-- CHART.JS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <!-- BOOTSTRAP JS BUNDLE -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>  

    <!-- CHARTJS CONFIG -->
    <script src="script/script.js"></script>
  </body>
</html>